/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* header background color */
.header {
    background-color: #FFF8F3;
    /* set background image */
    background-image: url('../images/header_bg.png');
    /* pic repeat off */
    background-repeat: no-repeat;
    /* podition to set */
    background-position: bottom right;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    /* border black line remove */
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    /* space from text top and bottom 15px left and right 35px */
    padding: 15px 35px;
}

/* nav related styles */
nav {
    /* put in the side */
    display: flex;
    justify-content: space-between;
    /* item hight center */
    align-items: center;
    /* added margin */
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    /* dot point out and from left gap margin 50px */
    list-style: none;
    margin-right: 50px;

}

nav a {
    /* blue line out for the ankor tag and add a color on text */
    text-decoration: none;
    color: #474747;
}

.banner {
    /* banner color space from contaion */
    padding: 30px 30px 0px 150px;
    /* banner contain text and pic that can place side by side */
    display: flex;
    /* text and pic align center wisee */
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    /* bottom gap vanish */
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-discription {
    width: 585px;
}

.banner-content {
    max-width: 500px;
}

/* main section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-descroption{
    color:#757575;
text-align: center;
font-size: 18px;

}